{
  "presets": [
    ["env",
      {
        "targets": {
          "browsers": [
            "last 2 versions"
          ],
          "node": "7.0.0"
        }
      }
    ]
  ],
  "plugins": [
    "add-module-exports",
    "transform-class-properties"
  ]
}